@model FoodCompare.Web.Models.Scrap

<h2>Add Food Scrap</h2>
@using(Html.BeginForm("Edit", "Scraps")) {
  <fieldset>
    <label>Food</label>
    @Html.LabelFor(m => m.Url)
    @Html.TextBoxFor(m => m.Url, htmlAttributes: new { @class = "input-xlarge" })
    @Html.LabelFor(m => m.BrandXPath)
    @Html.TextBoxFor(m => m.BrandXPath)
    @Html.LabelFor(m => m.ProductXPath)
    @Html.TextBoxFor(m => m.ProductXPath)
    @Html.LabelFor(m => m.CaloriesXPath)
    @Html.TextBoxFor(m => m.CaloriesXPath)
    @Html.LabelFor(m => m.CarbohydrateXPath)
    @Html.TextBoxFor(m => m.CarbohydrateXPath)
    @Html.LabelFor(m => m.ProteinXPath)
    @Html.TextBoxFor(m => m.ProteinXPath)
    @Html.LabelFor(m => m.FatXPath)
    @Html.TextBoxFor(m => m.FatXPath)
  </fieldset>
  <button type="submit" class="btn btn-primary">Edit</button>
}